@import "../css/fira-go.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

*::-moz-selection {
    background: #6c94c5;
}

*::selection {
    background: #6c94c5;
}

body {
    font-family: 'FiraGo',
    sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

code {
    font-family: 'Fira Code',
    monospace !important;
}

#arr {
    bottom: 5%;
    right: 10%;
    opacity: 0;
    visibility: hidden;

    @media only screen and (max-width: 1238px) {
        right: 5%;
    }

    @media only screen and (max-width: 768px) {
        right: 10%;
    }
}

.show {
    opacity: 100 !important;
    visibility: visible !important;
}